@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;

}

button {
    cursor: pointer;
}

#root {
    position: relative;
}

.before-icon::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 48px;
    top: -12px;
    left: -12px;
    background-color: #000;
}